<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>About me:</strong>
  <%= @user.about_me %>
</p>


<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> 
<% if @user.admin==true %>
<%= link_to 'Back', users_path %>
<% else %>
<%= link_to 'Back', forums_path %>
<% end %>
